footer {
    background-color: rgb(51, 51, 51);
    padding-top: 100px;

    .footer {
        h2 {
            padding-bottom: 1rem;
            color: white;
        }

        .links {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;

            li {
                a {
                    color: gray;
                }

            }
        }
        ul{
            li{
                a {
                    color: gray;
                }

            }
        }
        p{
            color: gray;
            padding-bottom: 20px;
        }
    }

}